/*iGYM blue: #00a3ff*/

h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
}
p {font-family:'Open Sans', sans-serif;
}
h1, h2, h3, h4{
  font-family: 'Roboto', sans-serif;
}
.control input{
  color:#898989;
}
/*link states*/
.nav a:link{text-decoration:none; color:#00a3ff; padding:5px 5px 5px 0;}
.nav a:hover, .nav a:active, a.open{color:#fff; background-color:#00a3ff; padding:5px 5px 5px 0;}

 button.btn.btn-primary, .nav li span{
   border:#00a3ff;
}
button.btn.btn-link, .chev i, #video p{
    color: #00a3ff;
}
nav a i, .navbar, button.btn.btn-primary, .nav li span, .control{
  background-color:#00a3ff;
}
.identity{
    color:#fff;
    font-weight:700;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

.control, i{/*style the volume control this would probably be better done with bootstrap container*/
  color:#fff;
}
i{
  font-size:25px;
}
